@font-face {
	font-family: 'NeuchaRegular';
	src: url('neucha-webfont.eot');
	src: url('neucha-webfont.eot?#iefix') format('embedded-opentype'),
	url('neucha-webfont.woff') format('woff'),
	url('neucha-webfont.ttf') format('truetype'),
	url('neucha-webfont.svg#NeuchaRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'NovaFlatRegular';
	src: url('novaflat-webfont.eot');
	src: url('novaflat-webfont.eot?#iefix') format('embedded-opentype'),
	url('novaflat-webfont.woff') format('woff'),
	url('novaflat-webfont.ttf') format('truetype'),
	url('novaflat-webfont.svg#NovaFlatRegular') format('svg');

}

@font-face {
	font-family: "Swanky and Moo Moo";
	src: url('swankyandmoomoo-webfont.eot');
	src: url('swankyandmoomoo-webfont.eot?#iefix') format('embedded-opentype'),
	url('swankyandmoomoo-webfont.woff') format('woff'),
	url('swankyandmoomoo-webfont.ttf') format('truetype'),
	url('swankyandmoomoo-webfont.svg#SwankyandMooMooRegular') format('svg');
}

body {
	margin: 0;
	font-family: 'NovaFlatRegular';
	font-size: 0.96em;
	color: rgb(63,63,63);
	border-color: rgb(63,63,63);
	background-color: rgb(204,204,194);
}

article {
	border-radius: 0.62em;
	border-bottom: 2px dotted grey;
}

header { 
	padding-bottom: 2.5em;
}

nav.block { 
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 0.84em;
	margin-top: 1.25em;
}
section.block { 
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1.25em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: rgba(255,255,255,0.5);
	border-radius: 1em;
	box-shadow: 8px 8px 13px rgb(102,102,97);
	text-align:justify;
	line-height: 168%;
}

.summary {
	font-weight: bold;  
}

article,
div.content,
div.comment,
div.pics
{  width: 100%; }
div.content,
div.comment
{
	display: none;
}

article h1 .f16,
article h2 .f32 {
	margin-left: -1.62vw;
	margin-right: 1vw;
}

article h1 .date {
	float: right;
	font-size: 68%;
}

div.pics .flickr-carousel img {
	height: 80px;
}

nav.block > div {
	padding: 0.25em;
	background-color: rgba(255,255,255,0.62);
	border-radius: 0.5em;
	box-shadow: 6px 6px 9px rgb(102,102,97);
}

div.pics ul.flickr-carousel li {
	list-style:none; 
	display: inline;
	margin: 4px;
}

div.pics > .modal-content {
	text-align:center;
}

div.comment ul {
	list-style-type: none;
}

div.comment ul li {
	line-height: 124%;
	margin-bottom: 40px;
}

div.comment ul li .text {
	font-family:"Swanky and Moo Moo", cursive;
}

div.comment ul li .name,
div.comment ul li .date
{
	font-size: 84%;
	float: right;
}


@media only screen and (orientation: portrait) and (min-width:320px)  {
	div.pics > .modal-content img {
		height: 150px;
	}
}


@media only screen and (orientation: portrait) and (min-width:360px)  {
	div.pics > .modal-content img {
		height: 175px;
	}
}


@media only screen and (orientation: landscape) and (min-width:480px)  {
	div.pics > .modal-content img {
		height: 250px;
	}
}

@media only screen and (min-width:600px) {
	div.pics > .modal-content img {
		height: 325px;
	}
}

@media only screen and (min-width:1280px) {
	div.pics > .modal-content img {
		height: 400px;
	}
}

@media only screen and (min-width:801px) and (max-width:900px){
	div.pics > .modal-content img {
		height: 450px;
	}
}

@media only screen and (min-width:1440px) {
	div.pics > .modal-content img {
		height: 450px;
	}
}




@media only screen and (min-width:20em) { /* smartphones, iPhone, portrait 480x320 phones */
}	

@media only screen and (min-width:30.063em) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

	body {
		background-image:url(./achtergrond.jpg);
		background-position:top center;
	}

	header {
		background-image: url(./bgheader.jpg);
		background-position: center;
		background-repeat: no-repeat;
		text-shadow: 0 0 7px black;
	}
	header h1,
	header h2 {
		margin:0;
		color: white;
		opacity: 0.84;
		filter: alpha(opacity=84);
		font-weight: normal;
	}

	header h1 {
		text-align: left;
		padding-top: 10px;
		padding-left: 15px;
		font-size: 2.62em;
	}

	header h2 {
		padding-top: 90px;
		padding-right: 15px;
		text-align: right;
		font-size: 1.62em;
	}

	header .bgpic {
		height: 225px;
		width: 100%;
		z-index: -20;
		top: -202px;  /* 44(?) + 10+60+36+52 */
		position: relative;
		background-position: center;
	}
}

@media only screen and (min-width:40.063em) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	body {
		font-size: 1.1em;
	}

}

@media only screen and (min-width:60.063em) { /* tablet, landscape iPad, lo-res laptops ands desktops */
	div.content { width: 61.8%; }
	div.comment { width: 38.2%; }

	header.block {
		height: 225px;
		padding-top: 0px;
	}
}

@media only screen and (min-width:64.063em) { /* big landscape tablets, laptops, and desktops */
	body {
		text-align: center;
	}
}

@media only screen and (min-width:80.063em) { /* hi-res laptops and desktops */
	section.block {
		padding-left: 5%;
		padding-right: 5%;
	}

	header {
		background-size: 100%;
	}
}

@media only screen and (min-width:100.063em) { /* extra wide */
	nav.block { width: 23.6%; }
	section.block { 
		width: 70.4%; 
		margin-left: auto;
		margin-right: auto;
	}
}

